[2016-11-02 06:36] ppelleti opened #1 "fix diffs"
Currently, diffing two revisions of a page does not work (diff is empty).

[2016-11-02 06:37] ppelleti opened #2 "add favicon"
Would be nice to have a favicon for the wiki, so I can easily spot wiki pages in my open tabs.

[2016-11-02 06:38] ppelleti opened #3 "move wiki to non-root user"
Currently, the wiki is running as root.  Would be nice if it was not.

[2016-11-02 06:43] ppelleti opened #4 "avoid mixed content"
Although the wiki uses https, Chrome warns about mixed content.  Specifically, the following two items are not secure:

* http://i.imgur.com/mHvNV.png
* http://haskell.org/wikiupload/7/7c/Rss16.png

[2016-11-02 06:47] ppelleti commented on #4
To clarify, this seems to only be a problem with the wiki home page.  Other pages on the wiki are displayed with a lock in the URL bar.

[2016-11-02 07:35] ppelleti commented on #4
Since this was an issue with a specific page on the wiki, I actually didn't need any special permissions to fix it.  All I had to do was edit two templates which were instantiated by the main page:

* https://wiki.haskell.org/index.php?title=Template%3AMain%2FNews&diff=61258&oldid=59218
* https://wiki.haskell.org/index.php?title=Template:Main/Community&diff=61259&oldid=58557

... although those di

[2016-11-02 07:35] #4 closed

[2016-11-02 08:56] ppelleti commented on #2
This is fixed.  I added:

    $wgFavicon = "wikistatic/favicon.ico";

to `/etc/mediawiki/LocalSettings.php`.  The icon is located at `/home/web/wikidata/wikitstatic/favicon.ico`.

Currently, I'm using the same purple icon used by `haskell.org`.

[2016-11-02 08:56] #2 closed

[2016-11-02 19:10] ppelleti commented on #1
I've [posted a question][1] on StackExchange, but no answer yet.

[1]: https://superuser.com/questions/1141625/mediawiki-extension-wikidiff2-not-working-diffs-are-empty

[2016-11-02 19:33] gbaz commented on #1
There might be something suggestive in the error/web logs when such a case
is hit?

On Wed, Nov 2, 2016 at 3:10 PM, Patrick Pelletier <notifications@github.com>
wrote:

[2016-11-02 20:08] ppelleti commented on #1
Perhaps, but if so, I haven't been able to find the proper log yet.  It's not showing up in `/var/log/nginx/error.log` or `/var/log/php5-fpm.log`.  There isn't anything else that seems promising in `/var/log`, and if there's a MediaWiki-specific log, I haven't found it yet.

However, there is some promising information at https://www.mediawiki.org/wiki/Manual:How_to_debug about enabling logging, s

[2016-11-03 00:04] ppelleti commented on #1
I enabled logging by adding:

    $wgDebugLogFile = "/var/log/mediawiki/debug.log";

to `/etc/mediawiki/LocalSettings.php`.  I then discovered this in the log file:

[code]

This suggests that for some reason it is trying to run an executable named `wikidiff2`, rather than using the `wikidiff2` extension.  Now I just need to figure out why...

[2016-11-03 00:32] ppelleti commented on #3
I'm not sure that the wiki is running as root after all.  When I enabled logging, it wrote its logfile as the `www-data` user and group:

[code]

So that I think at least the MediaWiki front-end (which is presumably running as part of the web server process) is running as `www-data`.  However, I believe there is also a database and a memcached, and I don't know what users those are running as.  Id

[2016-11-03 00:41] ppelleti commented on #3
The database is MySQL, and it's running on a separate server, `mysql01.haskell.org`.  So it's even more isolated than having a separate user.

@gbaz, based on this information, what do you want done?

[2016-11-03 04:24] gbaz commented on #3
So I guess the question that motivated this was -- it seemed that one needed root perms to edit wiki files, etc. If we just created a user that was non-root and had perms specific to wiki files, so that wiki admining could be done without root, I think that would resolve it...

[2016-11-03 05:00] ppelleti commented on #3
OK, that should be fairly straightforward, up to a certain point.  The wiki's config files are world-readable, so they could be owned by any old user and the wiki would still work.  So, we could create a user `wikiadmin` to own the config files and other files that might need to be modified.  Then someone could log on as `wikiadmin` and administer the wiki, *provided that we correctly identified a

[2016-11-03 05:01] gbaz commented on #3
the 90% plan sounds plenty good to me. just cutting down root logins is a worthy goal on its own.

[2016-11-03 05:01] ppelleti commented on #3
OK, I'll get to work on that.

[2016-11-03 05:59] ppelleti commented on #3
This has been going well.  One issue I ran into: `/home/web/wikidata/wikistatic` and all the files and directories under it are owned by the `platform-site` user.  Do you know the history behind this, and is it important to keep these files owned by `platform-site`, or can I change them to `wikiadmin`?

[2016-11-03 06:01] gbaz commented on #3
iirc, platform-site is the specific sftp-only user created for the platform subsite. I suspect its totally fine to change the ownership.

[2016-11-03 06:01] ppelleti commented on #3
Also, some of the other files and directories under `/home/web/wikidata` are owned by a user named `ubuntu`.  Same question goes for them.

[2016-11-03 06:02] gbaz commented on #3
vis a vis `ubuntu` i have no idea -- i think that's a result of installing the ubuntu package. But again, if nothing breaks on the frontend by moving this, I can't imagine its important...

[2016-11-03 06:23] ppelleti commented on #3
I have finished this task.  The wiki appears to still work.  The file `/home/wikiadmin/files-owned-by-wikiadmin.txt` lists the files and directories I changed the ownership of.

I copied root's `authorized_keys` to wikiadmin, so anyone who could log in as root can now also log in as wikiadmin.  (Logging in using a password is not allowed for wikiadmin; an ssh key must be used.)

[2016-11-03 06:23] #3 closed

[2016-11-03 20:30] ppelleti opened #5 "Selecting MonoBook theme causes errors, and it's impossible to change back"
In your user preferences page, you can choose between two themes: Hawiki and MonoBook.  The default is Hawiki.

I tried changing my theme to MonoBook, and I got errors splattered all over my page.  Furthermore, although I tried changing back to Hawiki, the change doesn't seem to take effect.  So I'm stuck with an unusable wiki account.

![monobook-fail](https://cloud.githubusercontent.com/assets/1

[2016-11-03 20:32] ppelleti commented on #5
There is a nuclear option: "Restore all default settings (in all sections)".  That fixed the problem, although now I need to figure out what my settings used to be.

[2016-11-03 20:34] ppelleti commented on #5
No, even the nuclear option didn't quite work.  As soon as I started editing my settings, even though I didn't change the theme, it switched me back to MonoBook and now I have errors plastered over everything again.

[2016-11-03 20:55] ppelleti commented on #1
This is partially fixed now, but I'm leaving the bug open.

I fixed it by putting:

    $wgExternalDiffEngine = false;

in `LocalSettings.php`.  I hadn't tried it before because this is supposed to be the default, and it wasn't being set anywhere in `LocalSettings.php`.  Apparently, it must have been set somewhere else.

Now, we do get diffs, which is much better than before, when we were getting

[2017-01-17 14:28] ramanshah opened #6 "Tick notation is interpreted as quotes"
First of all, I'm really enjoying the 99 Haskell problems and did a bunch of them this weekend as I try to start getting fluency with Haskell in earnest. Thanks!

The tick character `'` used to denote alternative implementations of a function are being interpreted as single quotes in a language where single quotes denote multi-line strings. To wit, in the solution to question 1:

[code]

looks lik

[2017-01-17 18:47] ppelleti commented on #6
Thanks for the bug report!  I agree that this is a problem that needs to be fixed!

To calibrate expectations:  I'm new to this job (and by "job" I mean volunteering), and don't know a whole lot about the wiki yet.  So it might take a while for me to fix this.  But I will definitely look into it when I get a chance!

[2017-01-18 02:48] ramanshah commented on #6
Of course, we're all volunteers :)

I don't know the first thing about the wiki rendering system. If you can point me to documentation, I can look at it, too, to try and figure if and how one can configure its tokenizer.

[2017-01-18 06:22] ppelleti commented on #6
Thanks!  I'm afraid I know about as much as you do.  I suspect there's a plug-in for syntax highlighting, but I'll need to do a little research to find its name and documentation.

[2017-01-18 06:38] ppelleti commented on #6
According to [Special:Version][1], the wiki is using the [SyntaxHighlight][2] extension, which in turn uses [GeSHi - Generic Syntax Highlighter][3].

It appears that the current version of SyntaxHighlight uses [pygments][4] instead of GeSHi.  So I should probably look into upgrading to the latest version of SyntaxHighlight, and see if pygments handles Haskell syntax better than GeSHi does.

[1]: h

[2017-01-18 06:45] ppelleti commented on #6
I'm unclear where the `<haskell>` tag is coming from, though, because the SyntaxHighlight documentation only mentions `<syntaxhighlight>` and `<source>` as tags, with `lang` as an attribute.  It doesn't say anything about being able to use a language name as a tag name.  I wonder if that is some sort of customization specific to the Haskell wiki?

[2017-01-18 07:03] gbaz commented on #6
I checked the LocalSettings.php of our wiki, and found the following:
[code]

[2017-01-18 07:12] ppelleti commented on #6
Thanks, @gbaz !  It sounds then like upgrading SyntaxHighlight won't affect the ability of the `<haskell>` tag to work.

On the other hand, it looks like upgrading SyntaxHighlight won't be straightforward, because the current version of SyntaxHighlight requires MediaWiki 1.23 or higher, and we only have MediaWiki 1.19.  So going to the latest SyntaxHighlight would require upgrading MediaWiki, whic

[2017-01-18 14:30] ramanshah commented on #6
Maybe one thing I can offer is to run the above solution through `pygments` to verify if that will help.

[2017-01-19 00:15] ramanshah commented on #6
Yay, `pygments` has a nice web interface for demo purposes:

http://pygments.org/demo/6344635/

In case of broken links, it looks good and certainly resolves the title issue with the rendering:

![image](https://cloud.githubusercontent.com/assets/8029092/22088508/1714c7b0-ddaa-11e6-94ed-83713d5b928e.png)

[2017-01-19 00:21] ramanshah commented on #6
Also relevant: The underlying issue appears to have been fixed in `GeSHi`, in case a `GeSHi` upgrade is easier than an upgrade of the wiki engine to support `pygments`:

https://github.com/GeSHi/geshi-1.0/pull/46

[2017-01-19 00:39] ramanshah commented on #6
Hmm, but it looks like they stopped cutting releases years ago.

[2017-01-23 07:15] spinda opened #7 "MediaWiki 1.19 hasn't received security support for 3 years"
I was talking with a MediaWiki developer today and mentioned that https://wiki.haskell.org runs MW. He pointed out that it's still on version 1.19, which came out over six years ago and was EOL'd from security support three years ago. Looking at the [CVE page](https://www.cvedetails.com/vulnerability-list/vendor_id-2360/product_id-4125/version_id-164536/Mediawiki-Mediawiki-1.19.14.html), there are

[2017-01-23 07:24] ppelleti commented on #6
Thanks, @ramanshah !  I might look into updating GeSHi, since that seems easier and lower risk.

On the other hand, we now have another request, #7, to upgrade MediaWiki.  Apparently there are some security issues with the version we're running.  So maybe I should just bite the bullet and upgrade MediaWiki.

[2017-01-23 07:27] ppelleti commented on #7
I agree this would be a good idea, and it would solve another problem at the same time (#6).  The only reason I'm hesitant is because I'm new to maintaining the Haskell wiki, and I'm afraid I might break something.  But I'll look into it.

[2017-01-23 10:27] legoktm commented on #7
Hi! I'm the MediaWiki developer that @spinda mentioned.

Typically I'd recommend just dumping your database and cloning it with a new webroot with the 1.27 (LTS) files for the proposed update, but it seems like you're using the system Ubuntu package of mediawiki, so that may not work. Could you spin up a new VM or something for testing? I maintain official packages of MediaWiki 1.27 (https://www.m

[2017-01-23 17:39] ppelleti commented on #7
@gbaz, could you comment on a few things:

* Is it possible to spin up a new VM for testing?
* Do you know the answer to whether there are "live hacks" (I don't even know what that is) or patches to the core code?
* How would you feel about giving @legoktm access to the `wikiadmin` account that I created in #3 so that he could look at the Hawiki skin in particular and look at our whole installatio

[2017-01-23 17:58] gbaz commented on #7
cc @thoughtpolice who did some of the initial setup on the box and also @relrod.

on a new vm -- yeah absolutely we could spin it up.

I don't think there's much in the way of patches to the core code, or anything. The things I know of are custom config stuff I pointed to for the `<haskell>` tags, and the wiki skin. But neither is a "live hack" I think?

And I think its fine to give @legoktm acces

[2017-01-23 18:17] ppelleti commented on #7
@legoktm , if you send your ssh public key to me (code@funwithsoftware.org), I can add you to the `wikiadmin` account so you can log into the server and poke around.

[2017-01-23 21:30] legoktm commented on #7
Email sent. Do you think we could put the Hawiki skin in a public git repo and license it under an OSI/FSF-approved license? That would make it a lot easier to work with.

[2017-01-23 22:23] legoktm commented on #7
And I started working on supporting the custom `<haskell>` tag upstream: https://gerrit.wikimedia.org/r/#/c/333798/

[2017-01-23 22:28] gbaz commented on #7
The latest reskin was done after we licensed everything under the simple permissive license: https://wiki.haskell.org/HaskellWiki:Copyrights

So it would be legit to toss any compat license on it (which should be any?) and put it in a repo.

[2017-01-23 23:48] ppelleti commented on #7
I created a new repository, [ppelleti/hawiki][2], with the Hawiki skin.  I just copied it from the `/home/web/wikidata/skin` directory on the server.  I added a LICENSE file containing the text from [HaskellWiki:Copyrights][1].

[1]: https://wiki.haskell.org/HaskellWiki:Copyrights
[2]: https://github.com/ppelleti/hawiki

[2017-02-06 17:18] jhenligne opened #8 "Variable names ending with an apostrophe are not parsed correctly by GeSHi syntax highlighter"
GeSHi is quite old (last version is date August 2012).
Newer syntax highlighter could improve code readability and correct error mentioned in the title.

As an example, here is how a sample of [example 12](https://wiki.haskell.org/All_About_Monads#Example_3) in [All About Monads](https://wiki.haskell.org/All_About_Monads) looks like now:
<img width="625" alt="geshi" src="https://cloud.githubuserco

[2017-02-06 20:30] jhenligne commented on #8
Arf! I should have read previous Issues as I just realize this bug was described in Issue #6...

Nevertheless it may be a chance because following another lead drove me to realize how verbose is the SyntaxHighlight extension of MediaWiki.

Comparing HTML produced by it on [Extension:SyntaxHighlight](https://www.mediawiki.org/wiki/Extension:SyntaxHighlight) page with the use of [Prism library](http

[2017-02-08 08:25] ppelleti commented on #8
I think the easiest, lowest-risk approach would be to update to the last version of GeSHi, which has fixed this problem.  I will try to look into that soon.

Long-term, when #7 is fixed, we'll be using Pygments, which also has fixed this problem.

I don't think switching to a third syntax highlighter, other than GeSHi or Pygments, is going to be attractive unless it already has a MediaWiki plug-in

[2017-02-08 08:25] #8 closed

[2017-02-14 05:30] ghost opened #9 "Wiki theme"
The Haskell wiki could really benefit from a nicer theme, better syntax highlighting, etc. An example of a good wiki page to be inspired from would be https://wiki.gentoo.org/wiki/Git

[2017-02-14 07:01] ppelleti commented on #9
Thanks for the feedback!

Theme-wise, we ought to be able to use any MediaWiki theme.  Currently, there are two installed:

* HaWiki - this is a custom theme for the Haskell Wiki, and is the default theme
* MonoBook - this is a theme that comes with MediaWiki, although I've discovered in #5 that bad things happen if I select it, so you might want to avoid trying it out until we fix that

I'd be op

[2017-02-14 07:05] ppelleti commented on #5
@legoktm, any thoughts on why the MonoBook theme isn't working, why switching to it permanently breaks my account even after I switch back, and how I could unbreak my account?  Thanks!

[2017-02-14 08:43] ppelleti commented on #6
I've been attempting to upgrade GeSHi, but so far I've been unsuccessful.

GeSHi is installed in `/usr/share/php-geshi`, as part of the `php-geshi` apt package.  There is no newer version of the `php-geshi` package available, so we can't upgrade with apt.

PHP's package manager appears to be called PEAR.  I installed PEAR and attempted to use it, but PEAR doesn't seem to know anything about a pack

[2017-02-14 08:57] ppelleti commented on #6
OK, it looks like there was some sort of caching going on.  I edited the [Sandbox][1] page, and now it looks OK.  So I think the problem is fixed, but you'll need to make a trivial edit to each page that has incorrect highlighting, to defeat the cache.

I'm going to mark this as closed, but please let me know if you run into any issues.

[1]: https://wiki.haskell.org/Sandbox

[2017-02-14 08:57] #6 closed

[2017-02-14 09:22] wizzup opened #10 "setup Gitter"
Since you are already on github, you might want to setup [gitter](https://gitter.im) for this repo.

[2017-02-14 09:58] ppelleti commented on #10
Can you elaborate on what Gitter is, and what value it will add to haskell-wiki-bugs?  I visited the website, but it wasn't immediately obvious to me what problem it's trying to solve.  Thanks!

[2017-02-14 11:21] wizzup commented on #10
gitter is chat platform (like irc), you can create a room for each repo. others can logon using github account.

[2017-02-14 12:15] jhenligne commented on #6
Hi Patrick,

Thank you for this update and the explanations.
Looking at the Sandbox page it seems to be fixed.

    Jean-Hugues

2017-02-14 10:57 GMT+02:00 Patrick Pelletier <notifications@github.com>:

[2017-02-14 18:40] ramanshah commented on #6
Wonderful! Thanks for fixing this, Patrick!

[2017-02-15 19:49] ppelleti commented on #10
Thanks for the info!

Since the point of the haskell-wiki-bugs repo is to communicate with me, it seems like I would need to participate in gitter if we set it up.  I'm not really interested in having another platform that I need to participate in, and I'm not big on chat/instant messaging type things.  For me, the issue tracking in git works great.  And if we wanted to do chat, Haskell already ha

[2017-02-16 07:06] wizzup commented on #10
No problem, I do understand your decision. Thanks for doing this job.

Let me close this issue then.

[2017-02-16 07:06] #10 closed

[2017-02-16 18:06] legoktm commented on #5
[code]

Somehow there's a version mismatch between MonoBook and MediaWiki core? I'll have to dig around a bit more.

[2017-02-16 18:09] legoktm commented on #7
As an update, @mary-kate (a MediaWiki skin developer and awesome person) has updated and modernized the skin: https://github.com/mary-kate/hawiki

[2017-02-16 18:35] ppelleti commented on #7
Awesome!  Thanks so much, @mary-kate!

[2017-02-16 18:51] ppelleti commented on #5
Thanks for pointing me in the right direction!

The skins that came with MediaWiki are in `/usr/share/mediawiki/skins`, but `LocalSettings.php` sets `$wgStyleDirectory` to `/home/web/wikidata/skin/`, which just contains the Hawiki skin and the MonoBook skin.  Presumably it's an old copy of MonoBook, and MediaWiki was upgraded since then.  (But we didn't get the upgraded skins, since we're not poin

[2017-02-16 19:09] ppelleti commented on #5
Not as easy a fix as I thought.  :frowning_face:

I've changed `/home/web/wikidata/skin` to look like this:

[code]

which I thought would fix the problem.  And it did, in that I'm no longer getting errors.  However, there seems to be a missing stylesheet somewhere, because if I switch to MonoBook, it looks... well, it looks the way things look when they don't have a stylesheet.

But at least now

[2017-02-16 19:26] ppelleti commented on #5
I wondered if it might be something about using symlinks, so I got rid of the symlinks and instead I just copied all of `/usr/share/mediawiki/skins` into `/home/web/wikidata/skin`.

Unfortunately, MonoBook still looks unstyled.

However, a side effect of copying the whole directory is that now there are a bunch of other skins available, too.  Some of them, like "chick", also appear unstyled.  But

[2017-02-16 19:47] ppelleti opened #11 "server time is not synchronized to NTP"
I noticed that the time on www-origin.haskell.org is running about 11 minutes slow.  This is not a big deal, although it does affect the time stamps of things on the wiki, like the modification time of pages.

on www-origin:

[code]

and at (more or less) the same moment on my MacBook, which is synchronized to NTP:

[code]

I think the solution is as simple as running `sudo apt-get install ntp` on

[2017-02-16 20:11] ppelleti commented on #11
Or I suppose the `sudo` is unnecessary, since I would log in as `root`.  😃

[2017-02-16 20:12] gbaz commented on #11
I'd actually consult @thoughtpolice on this?

[2017-03-03 11:12] rokn opened #12 "Wrong solution to problem 9"
At the solutions page for problem 9 from the 99 problems : https://wiki.haskell.org/99_questions/Solutions/9

The, currently, second solution is not correct and shouldn't be listed.
The solutions text states:

Another simple recursive solution
grp [] = []
grp (x:xs) = (x:(filter (==x) xs)):(grp $ filter (/=x) xs)

[2017-03-03 20:16] ppelleti commented on #12
For issues with the content of the wiki, please just edit the wiki.  Thanks!

[2017-03-03 20:16] #12 closed

[2017-03-04 14:11] wizzup opened #13 "<haskell> element need top and buttom padding on some page"
Current haskell code block has no padding/margin.
![2017-03-04-210010_889x441_scrot](https://cloud.githubusercontent.com/assets/342500/23579339/05f72b48-011e-11e7-8154-12e8b36843f3.png)
I try using firefox devtool to alter style sheet by add padding
![2017-03-04-210109_481x154_scrot](https://cloud.githubusercontent.com/assets/342500/23579342/08a9bb58-011e-11e7-877a-9c7ad34ed64a.png)
Does it look b

[2017-06-04 19:32] ppelleti commented on #7
Is the updated skin compatible with MediaWiki 1.19 (so I can upgrade the skin first and then later upgrade MediaWiki) or does the updated skin require that MediaWiki be upgraded at the same time?

[2017-06-04 23:08] ppelleti commented on #11
@thoughtpolice, is there any reason I shouldn't install ntp on www-origin?

[2017-06-09 20:54] mary-kate commented on #7
@ppelleti Alas, I developed it with the latest stable version of MediaWiki (which at the time was and still is 1.28, see [the "release notes" page on MediaWiki.org for more info](https://www.mediawiki.org/wiki/Release_notes)), so nope, it requires a more modern version of MediaWiki (I believe 1.25 or newer, but I strongly suggest 1.28 instead since it's the latest stable version). The main reason

[2017-06-10 14:21] ppelleti commented on #7
OK, thanks!  I'll just have to upgrade everything at once, then.

@gbaz, can we spin up a new VM so I can practice the upgrade without endangering the existing wiki?

[2017-11-05 00:17] gbaz commented on #7
@ppelleti what ever happened with this?

[2017-11-05 00:27] ppelleti commented on #7
Yeah, sorry, I've just felt a bit stuck on this one.  I'm not confident enough in my ability to perform the upgrade without practicing it first.  If we could clone the VM, then I'd have something to practice on.

[2017-11-05 00:55] gbaz commented on #7
This is just moving some new image and php files in place of old ones right?

So we could just revert them back if anything went wrong?

[2017-11-05 05:57] ppelleti commented on #7
It's a little more involved than that.  We have to upgrade to a newer version of MySQL.  And then the MediaWiki upgrade process itself will upgrade the database schema.  And at least in our installation, the various files that MediaWiki uses are scattered around in several places in the filesystem.

But in theory, yes, if we back everything up, we can restore it from backup.  Of course, that means

[2017-11-05 06:00] gbaz commented on #7
Ah I see. This is the whole install not just the skin... I agree a little
caution is in order then...

On Sun, Nov 5, 2017 at 1:57 AM Patrick Pelletier <notifications@github.com>
wrote:

[2017-11-05 18:10] ppelleti commented on #7
Right, the new skin that mary-kate created is only compatible with the newer MediaWiki, so we have to upgrade both MediaWiki and the skin at the same time.

[2017-11-05 21:19] gbaz commented on #7
@ppelleti ok what do you need from a new vm? just a raw ubuntu install?

[2017-11-05 23:05] ppelleti commented on #7
No, I'd been imagining a clone of the existing `www-origin` VM.  Is that possible?

[2017-11-28 21:40] Gr1dd opened #14 "Terrible software."
I'm abandoning this software due to lack of easily used globals. MVars dont work!

[2017-11-28 21:40] #14 closed

[2017-12-22 23:08] m-renaud opened #15 "Formatting of Haskell source code is kinda ugly"
The separation of the source code from the surrounding text (in terms of spacing and whitespace separatior) makes it difficult to read.

## Current Formatting

![haskell-wiki-current](https://user-images.githubusercontent.com/700646/34314377-f9f4006e-e727-11e7-9c6a-26778377e9bb.png)

## Proposed Formatting

![haskell-wiki-proposed](https://user-images.githubusercontent.com/700646/34314557-a0e1a29a

[2017-12-22 23:14] m-renaud commented on #15
I'm also not a huge fan of the inline code, the grey background plus purple font isn't super readable either. That's a relatively minor change though, something like a slightly lighter background and slightly darker font would probably do it. Even going from #F0F0F0 to #F6F6F6 is noticeable better.

[2018-03-23 08:33] gbaz commented on #7
I think we set up this clone, right?

-g

On Sun, Nov 5, 2017 at 6:05 PM, Patrick Pelletier <notifications@github.com>
wrote:

[2018-03-23 18:42] gbaz commented on #7
(just a note for others that we have such a clone and slow progress is underway on testing the migration)

[2018-05-10 04:16] hgolden commented on #7
Hi, I am starting to learn about MediaWiki and the hawiki instance. I hope to be able to help once I get up to speed.

[2018-05-25 18:29] tambry opened #16 "IPv6 support"
The HaskellWiki is inaccessible over IPv6.

It seems like it should be a fairly easy fix, as Fastly supports IPv6.

[2018-05-25 18:37] ppelleti commented on #16
@hgolden @gbaz This is another thing to consider.  I agree it would be good to support IPv6.

[2018-05-25 19:01] tambry commented on #16
I dug a bit further and as far as I can tell, it should be as simple as changing the CNAME record on `wiki.haskell.org` from `j.global-ssl.fastly.net` to `dualstack.j.shared.global.fastly.net`. Doing the switch would also enable HTTP/2.

The following works even now over IPv6 using HTTP/2:
`curl "https://dualstack.j.shared.global.fastly.net/Haskell" -H
"Host:wiki.haskell.org" -k -http2`

[2018-05-26 21:15] hgolden commented on #16
@gbaz, @ppelleti: Do you agree with @tambry's proposed change to the wiki.haskell.org CNAME record? (I am unfamiliar with this technology, though I can research it.) If so, who can make the change to the CNAME record. This is really separate from the MediaWiki upgrade AFAICT.

[2018-05-26 21:27] ppelleti commented on #16
Yes, I agree that it is a separate thing.  I was never involved in the CDN or the DNS, and do not have access to those.  So @gbaz would need to do it, or give you the ability to do it, or pass it along to someone else who can do it.  (I don't know how many others are involved in haskell.org infrastructure and what their specialties are.)

[2018-05-28 02:41] gbaz commented on #16
Thanks for looking into this @tambry! I just made the switch and it appears to work...

[2018-05-28 03:13] ppelleti commented on #16
Yes, thanks @tambry!  Let me know if it works for you, and if so, I'll close the bug.

[2018-05-28 05:41] tambry commented on #16
I can confirm it works now. Thanks for fixing this!

[2018-05-28 05:41] #16 closed

[2018-06-22 00:35] hgolden commented on #7
@ppelleti @gbaz @legoktm : In looking at available supported MW versions, I believe we should update to either 1.27.4 LTS (end of life 2019-06-30), 1.30.x (EOL 2018-12-31) or 1.31.x (EOL 2021-06-30).

Questions: Is it too soon to update to 1.31.x? Note: It requires at least PHP 7.0. Would this be a problem to install a PHP 7 version? Note: PHP 5.6 EOL is 2018-12-31. PHP 7.0 has 2018-12-03 EOL. PHP

[2018-06-22 02:33] gbaz commented on #7
My impulse if I were doing it is to go with whatever is easily available upstream, for ease of use and support. However, if you can pull of a test upgrade to the latest of everything without too much hassle, then I certainly won't stand in your way :-)

[2019-01-07 15:22] epogrebnyak opened #17 "broken link at 'Learning Haskell'"
At [this page](https://wiki.haskell.org/Learning_Haskell) in section 2.9 the link to Tour of Prelude in broken. I suggest this link as replacement:

http://www.cse.chalmers.se/edu/course/TDA555/tourofprelude.html

[2019-01-07 16:53] ppelleti commented on #17
Thanks!  You can fix this yourself by editing the wiki.

[2019-01-08 03:03] hgolden commented on #7
There's a test server at 147.75.67.13 that's running MW 1.27.4 LTS with a recent version of the wiki. Please take a look and send your comments and suggestions. Note: I can't find some icons (Rss16.png and MHvNV.png). Please let me know if you know a source for them.

[2019-01-08 06:42] hgolden commented on #7
I found the icons mentioned in my earlier message. I fixed the home page markup to display them properly in the test server. The [Edit] button for each section is still too big and it needs to be right justified. I'll work on this tomorrow.

[2019-01-17 22:38] Benjmhart opened #18 "Add toronto haskell meetup"
the old toronto haskell user group seems to be defunct.

here is information on the new current toronto haskell user group.

https://www.meetup.com/meetup-group-evRITRtT/events/258082340/

[2019-01-17 22:47] ppelleti commented on #18
Thanks, but you can just edit the wiki yourself.

[2019-02-18 09:45] arkadiuszbicz opened #19 "Functor (<$>) has wrong signature"
Functor (<$>) has wrong signature on page https://wiki.haskell.org/Functor.

Is in 2 Syntax section :

(<$>) :: a -> f b -> f a

Should be:

(<$>) :: (a -> b) -> f a -> f b

[2019-02-18 16:18] hgolden commented on #19
Thank you for pointing out the error. Since this is a wiki, you can make
the correction yourself. If you don't have an account yet, please request
one, so you can make changes.

Note: The error in section 2 of the wiki page is that it defines (<$>),
when it should define (<$). You can see this by looking at the definition
of Data.Functor (see
https://hackage.haskell.org/package/base-4.7.0.2/docs/s

[2019-02-19 09:46] #19 closed

[2019-02-25 05:28] hgolden commented on #17
I have updated the link as provided by epogrebnyak above. Thanks!

[2019-02-25 05:28] #17 closed

[2019-02-25 05:32] hgolden commented on #18
Benjmhart added the meetup to the page. Closing issue.

[2019-02-25 05:32] #18 closed

[2019-02-25 05:36] hgolden commented on #1
After upgrading to MediaWiki 1.27.4 LTS, this issue seems to be solved.

[2019-02-25 05:36] #1 closed

[2019-02-25 05:38] hgolden commented on #5
After updating to MediaWiki 1.27.4 LTS, this issue has been fixed. The new version of the Hawiki skin is based on the Vector skin with minor changes.

[2019-02-25 05:38] #5 closed

[2019-02-25 05:40] hgolden commented on #7
The MediaWiki version has been upgraded to 1.27.4 LTS. It is currently in support, though we need to update in the next few months to 1.31.x LTS to remain in support.

[2019-02-25 05:40] #7 closed

[2019-02-25 05:42] hgolden commented on #9
The new version of Hawiki is based on the Vector skin from MediaWiki 1.27.4 LTS. Please take a look and let us know if you think we need to improve anything else.

[2019-02-25 05:47] hgolden commented on #11
On the new server, just put into production, the server is synchronized using ntpd.

[2019-02-25 05:47] #11 closed

[2019-02-25 05:58] hgolden commented on #13
The latest version of the Hawiki skin, just installed into MediaWiki 1.27.4 LTS, has fixed the display of Haskell code.

[2019-02-25 05:58] #13 closed

[2019-02-25 06:03] hgolden commented on #15
The latest version of the Hawiki skin, just put into production, has fixed the formatting of Haskell source code.

[2019-02-25 06:03] #15 closed

[2019-03-06 04:28] hgolden opened #20 "Planning for upgrade to MediaWiki 1.35.2 (LTS)"
We have just upgraded the Haskell wiki's MediaWiki version to 1.27.4 (LTS). However, support for this version ends in June 2019 (see [MediaWiki's version lifecycle](https://www.mediawiki.org/wiki/Version_lifecycle)). I recommend that we plan to upgrade to MediaWiki 1.31.x (LTS) by the end of June 2019 or as soon as possible thereafter. Version 1.31.x will be supported until June 2021.

I will try

[2019-03-14 04:22] hgolden commented on #20
I have been able to upgrade the Haskell wiki to MediaWiki version 1.31.x (LTS) on my own computer. There was one major snag (see https://www.mediawiki.org/wiki/Topic:Uf63mplrzzuxz0it) which caused a misleading error message that had me puzzled for a couple of days. Other than that, version 1.31.x seems to work fine. (Note: My computer isn't accessible from the Internet (I hope), so I should probab

[2019-03-18 01:33] gbaz commented on #20
Sorry howard I don't have staging servers really lying around anymore now
that we're moving on from rackspace. The boxes we use now are physical
(though still on demand). If you're confident in the upgrade and have
everything backed up, I say we just go for it :-)

Cheers,
Gershom

(btw, I'm powering down the old staging instance that you had way back on
rackspace, since I think it is no longer re

[2019-03-18 01:43] hgolden commented on #20
Gershom,

I want to do some more testing first. I’ll let you know when I’m ready.

Howard

[2019-04-08 20:07] Anton-Latukha opened #21 "No interwiki links with Wikipedia"
There are many interwiki links configured:
https://wiki.haskell.org/Special:Interwiki

But there is no major one - Wikipedia.

I wonder, is there is a particular technical case associated with it.

It would be proper to use interwiki links instead of external links to major MediaWiki resource.

Related information:
  * https://www.mediawiki.org/wiki/Extension:Interwiki
  * https://www.mediawiki.or

[2019-04-08 21:07] hgolden commented on #21
I agree with adding an interwiki link to Wikipedia. When I recently upgraded the MediaWiki version I added the Interwiki extension, but I haven't done anything with it. In order to add another interwiki link, a Sysop has to make a change to the table. That's all that is required. Note: I am not a Sysop, though I probably should become one.

There is a default Interwiki table (see https://phabricat

[2019-04-08 21:27] Anton-Latukha commented on #21
I can not follow this convention at the moment.
Until particular interwiki links are added to the extension - they do not work (I even just tested).

So that is why I would skip linking to Wikipedia for now.

[2019-04-08 21:46] hgolden commented on #21
I understand your point. I would be happy to add the link to Wikipedia, but it needs to be done by a Sysop. I’m not a Sysop at present. I would like the haskell.org committee to approve me as one. (Note: I could make that change myself, but I’d rather get the committee’s approval first. I’m not Grace Murray Hopper!)

Howard

[2019-04-08 22:02] Anton-Latukha commented on #21
It would be great if a mass conversion of currently present Wikipedia links to interwiki links would happen.

But for that, the relevant server-side scripting must be configured.

[2019-04-08 22:05] Anton-Latukha commented on #21
Oops, sorry, I rerolled the message, but you use email.
I believe then it is OK if I as a newcomer to HaskellWiki post a couple observed things to ask about.

[2019-04-08 22:13] Anton-Latukha opened #22 "No favicon shown in browsers"
Previous documentation about doing favicon: https://github.com/haskell/haskell-wiki-configuration/issues/2

Indeed it is present at https://wiki.haskell.org/wikistatic/favicon.ico.

But it is not handled/shown in browsers.

Tested in:
[code]

[2019-04-08 22:27] hgolden commented on #22
I just added the favicon. Sorry for overlooking this!

Please keep your suggestions coming. It's nice to have someone paying attention!

[2019-04-08 22:27] #22 closed

[2019-04-08 23:44] Anton-Latukha commented on #22
Hey! It is already working!

[2019-04-09 10:03] Anton-Latukha opened #23 "Request: start HaskellWiki automation"
`wiki-scripts` for wiki platform maintanance and server-side linting:
1. [Code](https://github.com/lahwaacz/wiki-scripts)
2. [Docs](https://lahwaacz.github.io/wiki-scripts/)
3. [Additional info how it operates on the platform](https://wiki.archlinux.org/index.php/ArchWiki:Bots)

`Scribunto` with `Lua` for scripting inside MediaWiki:
1. [Extension:Scribunto](https://www.mediawiki.org/wiki/Extension

[2019-04-09 10:54] Anton-Latukha commented on #23
Just tested `wiki-monkey` currently works great on ArchWiki. On Wikipedia it does not show up (it must show-up on edit pages).

[2019-04-09 10:56] Anton-Latukha commented on #23
It even converts finds relevant external wiki links and converts them to interwiki links `[https://en.wikipedia.org/wiki/Line_discipline] -> [[wikipedia:Line_discipline]]`.

[2019-04-09 11:02] Anton-Latukha commented on #21
[Just found](https://github.com/haskell/haskell-wiki-configuration/issues/23#issuecomment-481203598) that that current `wiki-monkey` can convert external links to proper interwiki links.
And it can and does much more.

And it only the beginning of possibilities.

[2019-04-09 11:09] Anton-Latukha commented on #23
Troubleshooted what is wrong with Wikipedia.
`Console log`:
[code]

Sadly `wiki-monkey` seems so unknown and unused by people that Wikipedia doesn't have it whitelisted in security filters.

[2019-04-09 11:16] Anton-Latukha commented on #23
When I tried Wikipedia profile of script on HaskellWiki:
`Console log`:
[code]

[2019-04-09 11:26] Anton-Latukha opened #24 "Request: Make `wiki-monkey` links trusted scripts"
After that, the work of https://github.com/kynikos/wiki-monkey can be tested and made working.
At the least effect - it would greatly ease maintenance of pages for maintainers themselves.
We can ask users in guidelines to install and use the bot and users would do semi-automatic and curated by users themselves a massive scale clean-up of pages all over the HaskellWiki.

[2019-04-09 12:30] Anton-Latukha commented on #21
List of interlink seems really old.

It can have a way of partial fix.
Or:
1. Get the modern default list.
2. Match name&adress in HaskellWiki and modern default list.
3. Unique records to HaskellWiki list match to provided interwiki link counts stats in the engine.
4. Run shell loop on unique records to HaskellWiki, pinging addresses, getting default webpage with curl, to find what of those are s

[2019-04-09 17:00] hgolden commented on #23
Anton, I think all of these ideas should be implemented.

First, though, we should upgrade the wiki to the latest MediaWiki LTS (#20). I would appreciate your help in doing this. Please let us know if you are interested in working on this.

[2019-04-10 08:16] Anton-Latukha commented on #23
Seems like my lazy computation was not pure enough, and returned effect =)

Intriguing proposition.
I had a good thought about this.

I can do something really close to described below closer to mid-summer, end of summer, early autumn.

My current plan is:
I still have to catch NixOS guys after release & work with them to merge work that was ready & tested for 1.5 years https://github.com/NixOS/ni

[2019-04-12 10:38] Anton-Latukha opened #25 "Currentlly Typeclassopedia & many other pages throw an error on Firefox"
In brief, reports:
[code]
<details><summary>Full report</summary>
<p>

[code]
</details>

The saved page:
[page.tar.gz](https://github.com/haskell/haskell-wiki-configuration/files/3072887/page.tar.gz)

[2019-04-12 19:53] hgolden commented on #25
I have been reading the [RESTbase installation instructions](https://www.mediawiki.org/wiki/RESTBase/Installation), which I don't find that clear, so I don't feel comfortable with just trying to follow them on the production wiki. Instead, I will test them on my own computer's mediawiki-1.31.1 (LTS) installation to make sure I can set RESTbase up properly first. MediaWiki has a lot of Easter eggs!

[2019-04-13 09:14] Anton-Latukha commented on #25
Yes quite a broad topic. Ironically MediaWiki engine keeps it's own big Wiki.
It is a very broad and deep topic.
One rabbit hole at a time.

Thank you @hgolden

Please, if you can, keep relative track of your setup somewhere on GitHub/GitLab or gitlab.haskell.org.

[2019-09-03 21:18] gbaz commented on #25
I think this is resolved?

[2019-09-03 23:27] hgolden commented on #25
@gbaz, no I still need to work on this. I had overlooked it. Sorry! It appears that the Typeclassopedia article displays correctly, but the RESTbase extension may be needed for the visual editor or something else (I still don't have a good understanding of RESTbase and its use). I will work on this starting tomorrow (2019-09-04), implementing it first on my local machine to avoid damaging the prod

[2019-09-20 16:22] Anton-Latukha commented on #25
Updated.

Overall - I'd would not hurry with it, lowering priority, but make a good diagnose, and solution probably must be simple.

It indeed happens particularly on Firefox (even in clean safe-mode of a browser).
Also I use NixOS - that also is special about setup and can be somehow related, like something searching hardcoded `/...` path of something.

[2019-09-20 16:25] Anton-Latukha commented on #25
If you would direct me roughly what to look for - I would know what to look to profile, and return with results.
If you do not know the cause - then I would learn how to do general web-profiling procedure.

[2019-09-27 02:53] hgolden commented on #25
@Anton-Latukha @gbaz I am going to implement RESTBase using the SQLite backend on my own desktop computer first. At the same time I will upgrade to the latest LTS version. I will test everything as well as I can doing this. Only then will I update the production wiki. I would be happy to allow each of you to run your own tests on my machine to get your concurrence before updating the production wi

[2019-09-27 15:32] Anton-Latukha commented on #25
You are serious about this stuff.

I would test how I can.

But as I said, I were a contributor on Arch Wiki pages & learned back then that in depth, and learned MediaWiki and setted-it up locally with some number of plugins. It was years ago.

I can take upon an effort to move your configuration to Ansible, or contained build, or even after that - NixOS, or even try Guix. If talking about the com

[2019-10-08 03:12] hgolden opened #26 "Implement TLS in Mail Server"
If not done already, we should implement TLS in our mail server. This will reduce the chance that our email messages will be classified as spam

[2021-02-04 09:29] jiyinyiyong opened #27 "Ask: how about translations"
I'm not sure but maybe I could translate several of the posts into Chinese for learning purpose. Do you have any source code for the Wiki posts? Markdown or something? It's not hosted on GitHub so no easy way to grab.

The page I'm particularly interested: http://wiki.haskell.org/IO_inside .

[2021-02-04 09:39] Anton-Latukha commented on #27
The source code of wiki articles is hosted on the wiki.

There is an `Edit` tab on all the wikis.

MediaWiki engine (classical Wikis, as Wikipedia, Haskell Wiki), use Wiki markup syntax.

If you would like, there should be converters between Markdown and Wiki markup.

[2021-02-04 10:09] jiyinyiyong commented on #27
Login system is quite counterintuitive... now I finally managed to log in and got the text. Thanks for the hint. Luckily the syntax is still similar to Markdown.

[2021-02-04 10:18] Anton-Latukha commented on #27
First Wiki is WikiWikiWeb - 1994.
MediaWiki & Wikipedia - 2001.
Git was invented in - 2005.

And Wikis were never created to manage them through Git, the whole idea of them is that any people without the need of technical knowledge can edit the pages.
Hawaiian *wiki wiki* is - ‘very quick’, then the meaning of the *WikiWikiWeb* speaks for itself.

[2021-02-04 11:31] jiyinyiyong commented on #27
Long history of Haskell!

I still prefer using GitHub when I want to maintain things.

[2021-02-05 14:29] Anton-Latukha commented on #27
`GitHub` was founded in 2008.
Haskell founded in 1990. So yes, long history of Haskell.
But the Haskell Wiki is actually convenient place and resource.

The wiki engine `GitHub` provides - is laughable at its very best. GitHub wikis even do not allow to add pictures to them, the exploit hack needs to be used to trick GitHub into adding pictures there, if the page is renamed - all links to that pag

[2021-02-05 15:30] jiyinyiyong commented on #27
Yes GitHub has those problems. Actually I was thinking about using GitHub to maintain source code of the side https://github.com/reactjs/reactjs.org , rather than using  GitHub Wiki.

Never mind... I have no indention to complain about the Wiki Haskell.org uses. Just it kept telling me I failed to log in and I was confused for many minutes. Being a Chinese developer using ClojureScript and TypeScr

[2021-05-06 20:50] hgolden commented on #26
This issue is not in-scope for the wiki. It belongs to the mail server project (if any).

[2021-05-06 20:50] #26 closed

[2021-05-06 22:11] hgolden commented on #25
I willl include RESTbase in the dockerized upgrade to MediaWiki-1.35.2 I am working on presently.

[2021-05-06 22:14] hgolden commented on #24
I'm not familiar with wiki-monkey, but I'll look at it after the update to MediaWiki-1.35.2 is stable.

[2021-05-07 00:35] hgolden commented on #20
Now I'm in process of implementing a dockerized version of MediaWiki-1.35.2.

[2021-05-07 02:29] hgolden opened #28 "Identify all of the Docker images needed to create the application"
Use the simplified MediaWiki Docker Compose file as a starting point. Need: MediaWiki, PHP-FPM, Mariadb with Adminer, Redis, Linux base (Alpine? or Ubuntu?)

[2021-05-07 02:35] hgolden opened #29 "Create the Docker Compose YAML file to connect the containers."
Create Docker Compose for:
1. Taking Mariadbdump of old SQL database into a Docker volume.
2. Taking all other data from old version into a Docker volume.
3. Loading SQL dump into new Mariadb database.
4. Execute MediaWiki upgrade of loaded database

[2021-05-07 03:02] hgolden opened #30 "Extract the code for <Haskell> and <Hask> from the old Localsettings.php into 1 or 2 standalone extensions,"
1. Extract the code
2. Add extension load(s) for the new extension(s).

[2021-05-07 08:17] Anton-Latukha commented on #24
Happy to see that HaskellWiki can move/moves to new LTS release. Visual editor is awesome & would help all wikis.

I would reiterate what `wiki-monkey` is in other words. It is a rich user-side script. Script that users can add to their profile, so viewing & editing of the wiki extends with new feature buttons, editing would have burger menu button with many features, and as I remember also consol

[2021-05-07 08:19] Anton-Latukha commented on #24
Console & actions:
![Screenshot-2021-05-07-11:16:08](https://user-images.githubusercontent.com/20933385/117419960-cc3afa00-af25-11eb-99b7-3398613f4513.png)
Part of the result:
![Screenshot-2021-05-07-11:17:57](https://user-images.githubusercontent.com/20933385/117420064-e5dc4180-af25-11eb-99af-8aa80a4acd58.png)
As we see, bot checked language links, and detected that Polish page is no longer there

[2021-05-07 17:13] hgolden opened #31 "Make a test script for acceptance of the new version."

[2021-05-07 17:13] hgolden opened #32 "Find out how to backup the database and images using the new servers."

[2021-05-07 17:13] hgolden opened #33 "Find out how to log messages using the new servers."

[2021-05-07 17:13] hgolden opened #34 "Find out how to send mail from MediaWiki using the mail server."

[2021-05-07 17:14] hgolden opened #36 "Locate and copy the Hawiki skin files from the old version code into a standalone directory that can be added to the new version's code."